<?xml version="1.0"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite verbose="1" name="Suite pruebas de regresión">
    <test name="Casos de prueba">
    <classes>
        <class name="tests.Tests">
            <methods>
                <include name="tituloListado_FRG001"/>
                <include name="mensajeEdentidad_FRG002"/>
                <include name="vereficarTituloBuscado_FRG003"/>
                <include name="vereficarTituloMedioDePago_FRG004"/>
                <include name="vereficarMensajeIngresarEmail_FRG005"/>
                <include name="vereficarCarritoVacio_FRG006"/>
                <include name="vereficarCambioDeCodigoPostal_FRG007"/>
                <include name="busquedaDeLaMarca_FRG008"/>
                <include name="contactanos_FRG009"/>
                <include name="cupon_FRG010"/>
                <include name="filtroHogar_FRG011"/>
                <include name="ventaTelefonica_FRG012"/>

            </methods>
        </class>
    </classes>
    </test>
</suite>